.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 500px;
  padding: 20px;

  border-radius: 10px;

  background-color: #213970;

  color: #fff;
}

.input {
  width: 100%;


}
input {
  width: 100%;
  height: 20px;
  border-radius: 8px;


  outline: none;
}

button {
  width: 100%;
  height: 30px;
  border-radius: 8px;


  outline: none;
}


.buttons {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
}