* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000;
}

.container {
    width: 400px;
    background-color: #88888859 ;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    gap: 10px;

    border-radius: 25px;
}

.titulo {
    width: 300px;
    color: #fff;
    text-align: left;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 8px;

    border: none;
    outline: none;

    padding: 10px;
    font-size: 20px;
}

button {
    width: 300px;
    border-radius: 8px;
    height: 40px;

    border: none;
    outline: none;

    background-color: #808080;

    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.resposta {
    color: green;
    font-size: 16px;
    font-weight: bold;
}